<kendo-grid [data]="gridData" [selectable]="settings" [navigable]="true" [height]="500" kendoGridSelectBy="ProductID" [(selectedKeys)]="selectedIds">
  <kendo-grid-checkbox-column showSelectAll="true" width="50"></kendo-grid-checkbox-column>
  <kendo-grid-column field="ProductName" title="Product Name" [width]="300"></kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="Units In Stock"></kendo-grid-column>
  <kendo-grid-column field="UnitsOnOrder" title="Units On Order"></kendo-grid-column>
  <kendo-grid-column field="ReorderLevel" title="Reorder Level"></kendo-grid-column>
</kendo-grid>
